.section-heading {
    font-size: 2rem;
    text-align: center;
    margin: 24px 0;
    color: #2e7d32;
    font-weight: bold;
  }
 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 40px;
    padding: 0 24px 40px;
  }
 
  .card {
    background: linear-gradient(135deg, #e8f5e9, #f1f8e9);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: left;
  }
 
  .initiative-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
 
  .initiative-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    color: rgb(212, 54, 99);
    font-style: italic;
  }
 
  .initiative-description {
    font-size: 1rem;
    margin-bottom: 12px;
    color: #4e4e4e;
    text-align:justify;
  }
 
  .info-block {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 0.95rem;
    margin-bottom: 10px;
  }
 
  .info-block div {
    flex: 1 1 45%;
  }