.join-card {
    width: 80%;
    padding: 2rem;
    border-radius: 12px;
    background: linear-gradient(135deg, #e8f5e9, #f1f8e9);
    box-shadow: 3px 3px 2px #e8f5e9;
    border: 1px #e8f5e9;
    /* box-shadow: 0px 4px 12px #95ed8e; */
    text-align: center;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(41, 167, 69);
    margin-bottom: 2rem;
}

.description2 {
    text-align: justify;
    font-size: 1rem;
    margin: 1rem 0;
    color: #004d40;
}

.profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.profile-label {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(41, 167, 69);
    font-style: italic;
}

.button-container {
    margin-top: 1rem;
}

.button-container button{
    background-color: rgb(41, 167, 69);
    color: white;
    border: 1px solid rgb(41, 167, 69);
}

.button-container button:hover{
    background-color: rgb(212, 54, 99);
    color: white;
    border: 1px solid rgb(212, 54, 99);
    cursor: pointer;
}
