/* impactNumbers.css */
.impact {
    padding: 2rem;
    /* background-color: #fffbe6; */
    text-align: center;
    box-shadow: 3px 3px 2px #c8e6c9;
    border: 1px solid #c8e6c9;
}
.impact h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #2e8b57;
}
.stats {
    display: flex;
    justify-content: space-around;
}
.stat h3 {
    font-size: 2rem;
    color: #2e8b57;
}
